<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilsa.grassis">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".library.AppContoller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".activites.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.HomeActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.MenuActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.MenuItemActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.MenuItemDetailsActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.ProfileActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activites.DealDetailsActivity"
            android:label="@string/title_activity_dispensary"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.DealsRewardActivity"
            android:label="@string/title_activity_dispensary"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.DispensaryInfoActivity"
            android:label="@string/title_activity_dispensary"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.MemberStatusActivity"
            android:label="@string/title_activity_dispensary"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activites.DispensaryActivity"
            android:label="@string/title_activity_dispensary"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ilsa.grassis.activites.SignUpActivity" />
        </activity>
        <activity
            android:name=".activites.DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:parentActivityName=".activites.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ilsa.grassis.activites.HomeActivity" />
        </activity>

        <activity
            android:name=".activites.CodeScanner"
            android:theme="@style/HomeTheme"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="35b8e72ebeb47857a63d0b1abd19645a8e486408"
            />
    </application>

</manifest>